{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "env": {
    "jest": true,
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "eslint-config-react",
    "airbnb",
    "airbnb/hooks"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".ts", ".tsx", ".json"]
      }
    }
  },
  "plugins": ["@bem-react", "react", "@typescript-eslint"],
  "rules": {
    "semi": ["error", "always"],
    "quotes": ["error", "single"],
    "react/jsx-filename-extension": [1, { "extensions": [".tsx"] }],
    "react/prop-types": 0,
    "import/prefer-default-export": 0,
    "implicit-arrow-linebreak": "off",
    "object-curly-newline": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-wrap-multilines": "off",
    "@typescript-eslint/interface-name-prefix": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "ts": "never",
        "tsx": "never"
      }
    ],
    "@bem-react/whitelist-levels-imports": [
      "error",
      {
        "defaultLevel": "common",
        "whiteList": {
          "common": ["common"],
          "desktop": ["common", "desktop"],
          "mobile": ["common", "mobile"]
        }
      }
    ]
  }
}
